In [ ]:
NUMPY PROBLEMS

In [ ]:
Question 1

In [1]:
import numpy as np
random_array = np.random.randint(10, 50, 20)
mean_value = np.mean(random_array)
std_deviation = np.std(random_array)
print("Random Array:", random_array)
print("Mean:", mean_value)
print("Standard Deviation:", std_deviation)

Random Array: [49 38 12 31 44 11 16 33 48 46 13 34 16 12 21 22 33 20 44 45]
Mean: 29.4
Standard Deviation: 13.38805437694365

In [ ]:
Question 2

In [2]:
import numpy as np
original_array = np.random.rand(6, 5)
reshaped_array = original_array.reshape(5, 6)
print("Original Array (6, 5):\n", original_array)
print("\nReshaped Array (5, 6):\n", reshaped_array)

Original Array (6, 5):
 [[0.72613654 0.46636929 0.17120331 0.60388211 0.96305621]
 [0.41859877 0.38014805 0.95666102 0.44004313 0.56428949]
 [0.07959938 0.62979712 0.62798107 0.40668866 0.4115502 ]
 [0.27428258 0.20407059 0.89585935 0.12106988 0.31159235]
 [0.61931635 0.57009427 0.36939945 0.97485813 0.21701179]
 [0.0081526  0.99936848 0.30521042 0.67445504 0.63044777]]

Reshaped Array (5, 6):
 [[0.72613654 0.46636929 0.17120331 0.60388211 0.96305621 0.41859877]
 [0.38014805 0.95666102 0.44004313 0.56428949 0.07959938 0.62979712]
 [0.62798107 0.40668866 0.4115502  0.27428258 0.20407059 0.89585935]
 [0.12106988 0.31159235 0.61931635 0.57009427 0.36939945 0.97485813]
 [0.21701179 0.0081526  0.99936848 0.30521042 0.67445504 0.63044777]]

Question 3

In [3]:
import numpy as np
array = np.arange(1, 26).reshape(5, 5)
subarray = array[2:5, 1:4]
print("Original Array:\n", array)
print("\nSubarray (rows 2-4, columns 1-3):\n", subarray)

Original Array:
 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

Subarray (rows 2-4, columns 1-3):
 [[12 13 14]
 [17 18 19]
 [22 23 24]]

In [ ]:
Question 4

In [4]:
import numpy as np
A = np.random.randint(1, 101, 10)
B = np.random.randint(1, 101, 10)
sum_result = A + B
final_result = sum_result * 2
print("Array A:", A)
print("Array B:", B)
print("Sum of A and B:", sum_result)
print("Final Result (Sum * 2):", final_result)

Array A: [27 87 17 51 55  5 96 79 70 33]
Array B: [48 14 59 84 86 42 61  7  4 48]
Sum of A and B: [ 75 101  76 135 141  47 157  86  74  81]
Final Result (Sum * 2): [150 202 152 270 282  94 314 172 148 162]

In [ ]:
Question 5

In [5]:
import numpy as np
A = np.random.randint(1, 11, (3, 4))
B = np.array([1, 2, 3, 4])
result = A + B
print("2D Array A:\n", A)
print("\n1D Array B:", B)
print("\nResult of A + B:\n", result)

2D Array A:
 [[ 6 10 10  6]
 [ 5  9  7  6]
 [ 2  5  2  8]]

1D Array B: [1 2 3 4]

Result of A + B:
 [[ 7 12 13 10]
 [ 6 11 10 10]
 [ 3  7  5 12]]

In [ ]:
Question 6

In [6]:
import numpy as np
matrix = np.random.randint(1, 101, (3, 3))
row_sums = np.sum(matrix, axis=1)
max_sum_row_index = np.argmax(row_sums)
max_value_in_row = np.max(matrix[max_sum_row_index])
print("Matrix:\n", matrix)
print("Row sums:", row_sums)
print("Row with maximum sum:", matrix[max_sum_row_index])
print("Maximum value in that row:", max_value_in_row)

Matrix:
 [[69 86 17]
 [25 94 70]
 [45 25 73]]
Row sums: [172 189 143]
Row with maximum sum: [25 94 70]
Maximum value in that row: 94

In [ ]:
Question 7

In [7]:
import numpy as np
A = np.random.randint(1, 10, (2, 2))
B = np.random.randint(1, 10, (2, 2))
result = np.dot(A, B)
print("Array A:\n", A)
print("Array B:\n", B)
print("Matrix Multiplication (A * B):\n", result)

Array A:
 [[6 5]
 [7 7]]
Array B:
 [[1 6]
 [2 4]]
Matrix Multiplication (A * B):
 [[16 56]
 [21 70]]

In [ ]:
Question 8

In [8]:
import numpy as np
array = np.random.randint(1, 51, (6, 6))
values_greater_than_25 = array[array > 25]
print("Original Array:\n", array)
print("Values greater than 25:", values_greater_than_25)

Original Array:
 [[ 2 17 12 34 28 27]
 [50 12 33 22 20 23]
 [19 49 37  9 26 48]
 [46 31 15  9 26 28]
 [34 27  2 35 28  2]
 [15 47  8 35 39 32]]
Values greater than 25: [34 28 27 50 33 49 37 26 48 46 31 26 28 34 27 35 28 47 35 39 32]

In [ ]:
Question 9

In [9]:
import numpy as np
array = np.random.rand(5, 5)
median_columns = np.median(array, axis=0)
median_rows = np.median(array, axis=1)
variance_columns = np.var(array, axis=0)
variance_rows = np.var(array, axis=1)
print("Array:\n", array)
print("Median along columns:", median_columns)
print("Median along rows:", median_rows)
print("Variance along columns:", variance_columns)
print("Variance along rows:", variance_rows)

Array:
 [[0.44157119 0.11618052 0.51132151 0.35784486 0.37999999]
 [0.09611726 0.22955815 0.48124505 0.02183974 0.07321055]
 [0.61980691 0.2125414  0.91348456 0.97470308 0.15364614]
 [0.23482886 0.7961834  0.44951068 0.63674414 0.28007422]
 [0.10288159 0.66336438 0.59700929 0.76742754 0.67789852]]
Median along columns: [0.23482886 0.22955815 0.51132151 0.63674414 0.28007422]
Median along rows: [0.37999999 0.09611726 0.61980691 0.44951068 0.66336438]
Variance along columns: [0.04139708 0.07420063 0.02848905 0.11020684 0.04432333]
Variance along rows: [0.01787901 0.02733176 0.11705144 0.04510961 0.05558453]

In [ ]:
Question 10

In [ ]:
import numpy as np
matrix = np.random.randint(1, 11, (3, 3))
subtracted = matrix - 2
squared = matrix ** 2
reciprocal = np.reciprocal(matrix)
print("Original Matrix:\n", matrix)
print("Subtracted 2:\n", subtracted)
print("Squared:\n", squared)
print("Reciprocal:\n", reciprocal)

In [ ]:
PANDAS PROMBLEMS

In [ ]:
Question 1

In [38]:
import pandas as pd
df = pd.read_csv('remya-mpg.csv')
print(df.head(10))
print(df.shape)
print(df.describe())

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70
5  15.0          8         429.0        198    4341          10.0          70
6  14.0          8         454.0        220    4354           9.0          70
7  14.0          8         440.0        215    4312           8.5          70
8  14.0          8         455.0        225    4425          10.0          70
9  15.0          8         390.0        190    3850           8.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
5       1           ford galaxie 500
6       1           chevrolet impala
7       1          plymouth fury iii
8       1           pontiac catalina
9       1         amc ambassador dpl
(398, 9)
              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000

In [ ]:
Question 2

In [14]:
df[(df["weight"] < 3000) & (df["model year"] == 75)][["car name", "model year"]]

              car name  model year
167     toyota corolla          75
168         ford pinto          75
169        amc gremlin          75
170      pontiac astro          75
171      toyota corona          75
172  volkswagen dasher          75
173         datsun 710          75
174         ford pinto          75
175  volkswagen rabbit          75
177         audi 100ls          75
178        peugeot 504          75
179        volvo 244dl          75
180          saab 99le          75
181   honda civic cvcc          75

In [ ]:
Question 3

In [16]:
print("Missing values in the dataset:")
print(df.isnull().sum())
horsepower_median = (df["horsepower"].median)
print(horsepower_median)
df["horsepower"].fillna(horsepower_median, inplace=True)
print("\nDataset after replacing missing values in 'horsepower':")
print(df)

Missing values in the dataset:
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64
<bound method Series.median of 0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object>

Dataset after replacing missing values in 'horsepower':
      mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin                   car name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[398 rows x 9 columns]

In [ ]:
Question 4

In [23]:
import pandas as pd

df = pd.read_csv("remya-mpg.csv")

df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['weight'] = pd.to_numeric(df['weight'], errors='coerce')

df['power_to_weight_ratio'] = df['horsepower'] / df['weight']

print(df)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model year  origin                   car name  power_to_weight_ratio
0            70       1  chevrolet chevelle malibu               0.037100
1            70       1          buick skylark 320               0.044679
2            70       1         plymouth satellite               0.043655
3            70       1              amc rebel sst               0.043694
4            70       1                ford torino               0.040591
..          ...     ...                        ...                    ...
393          82       1            ford mustang gl               0.030824
394          82       2                  vw pickup               0.024413
395          82       1              dodge rampage               0.036601
396          82       1                ford ranger               0.030095
397          82       1                 chevy s-10               0.030147

[398 rows x 10 columns]

In [ ]:
Question 5

In [24]:
import pandas as pd

df = pd.read_csv("remya-mpg.csv")

mean_mpg_by_origin = df.groupby('origin')['mpg'].mean()

print(mean_mpg_by_origin)

origin
1    20.083534
2    27.891429
3    30.450633
Name: mpg, dtype: float64

In [ ]:
Question 6

In [27]:
sort = df.sort_values(by="mpg", ascending=False)
top_10_cars = sort.head(10)
print(top_10_cars)

      mpg  cylinders  displacement horsepower  weight  acceleration  \
322  46.6          4          86.0         65    2110          17.9
329  44.6          4          91.0         67    1850          13.8
325  44.3          4          90.0         48    2085          21.7
394  44.0          4          97.0         52    2130          24.6
326  43.4          4          90.0         48    2335          23.7
244  43.1          4          90.0         48    1985          21.5
309  41.5          4          98.0         76    2144          14.7
330  40.9          4          85.0          ?    1835          17.3
324  40.8          4          85.0         65    2110          19.2
247  39.4          4          85.0         70    2070          18.6

     model year  origin                         car name  performance_score
322          80       3                        mazda glc           0.395327
329          80       3              honda civic 1500 gl           0.332692
325          80       2             vw rabbit c (diesel)           0.461060
394          82       2                        vw pickup           0.508169
326          80       2               vw dasher (diesel)           0.440505
244          78       2  volkswagen rabbit custom diesel           0.466826
309          80       2                        vw rabbit           0.284538
330          80       2             renault lecar deluxe           0.385597
324          80       3                       datsun 210           0.371261
247          78       3                   datsun b210 gx           0.354029

In [ ]:
Question 7

In [28]:
import pandas as pd

df = pd.read_csv("remya-mpg.csv")

def performance_score(row):
    return row['mpg'] * row['acceleration'] / row['weight']

df['performance_score'] = df.apply(performance_score, axis=1)

print(df)

      mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin                   car name  performance_score
0            70       1  chevrolet chevelle malibu           0.061644
1            70       1          buick skylark 320           0.046710
2            70       1         plymouth satellite           0.057625
3            70       1              amc rebel sst           0.055928
4            70       1                ford torino           0.051754
..          ...     ...                        ...                ...
393          82       1            ford mustang gl           0.150968
394          82       2                  vw pickup           0.508169
395          82       1              dodge rampage           0.161743
396          82       1                ford ranger           0.198400
397          82       1                 chevy s-10           0.221103

[398 rows x 10 columns]

In [ ]:
Question 8

In [1]:
import pandas as pd

df = pd.read_csv("remya-mpg.csv")

df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['weight'] = pd.to_numeric(df['weight'], errors='coerce')

summary_df = df.groupby('model year')[['mpg', 'weight', 'horsepower']].mean().reset_index()

print(summary_df)

    model year        mpg       weight  horsepower
0           70  17.689655  3372.793103  147.827586
1           71  21.250000  2995.428571  107.037037
2           72  18.714286  3237.714286  120.178571
3           73  17.100000  3419.025000  130.475000
4           74  22.703704  2877.925926   94.230769
5           75  20.266667  3176.800000  101.066667
6           76  21.573529  3078.735294  101.117647
7           77  23.375000  2997.357143  105.071429
8           78  24.061111  2861.805556   99.694444
9           79  25.093103  3055.344828  101.206897
10          80  33.696552  2436.655172   77.481481
11          81  30.334483  2522.931034   81.035714
12          82  31.709677  2453.548387   81.466667

In [ ]:
Question 9

In [36]:
high_mpg_cars = df[df["mpg"] > 30]
high_mpg_cars_subset = high_mpg_cars[["mpg", "cylinders", "horsepower", "weight"]]
high_mpg_cars_subset.to_csv("high_mpg_cars.csv")
print(high_mpg_cars_subset)

      mpg  cylinders  horsepower  weight
53   31.0          4        65.0    1773
54   35.0          4        69.0    1613
129  31.0          4        67.0    1950
131  32.0          4        65.0    1836
144  31.0          4        52.0    1649
..    ...        ...         ...     ...
390  32.0          4        96.0    2665
391  36.0          4        84.0    2370
394  44.0          4        52.0    2130
395  32.0          4        84.0    2295
397  31.0          4        82.0    2720

[85 rows x 4 columns]

In [ ]:
Question 10

In [37]:
import pandas as pd

df = pd.read_csv("remya-mpg.csv")

Q1 = df['mpg'].quantile(0.25)
Q3 = df['mpg'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['mpg'] < lower_bound) | (df['mpg'] > upper_bound)][['car name', 'mpg', 'model year']]

print(outliers)

      car name   mpg  model year
322  mazda glc  46.6          80